/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #a4c2d1;    /* egg blue */
}

h1, h2 {
    font-family: 'DM Serif Display', serif;
    color: #184f63;                 /* dark-blue */
}

#hero {
    background-image: ;
}

/* About section */
#about {
    background-color: white;
}

/* Porfolio */
#portfolio {
    background-color: #dbdcde;      /* light grey */
}

/* Contact sections */
#hero {
    background-color: #dbdcde;
    background: url(../images/background.webp) no-repeat center/cover;
    background-size: cover;
    min-height: 500px;
    background-position: 50% 70%;
    padding: 5% 7%;
}